  <div>
    <ba-login></ba-login>
  </div>
  <br>
  
  <!-- App-Account engloba Account-Form y Account-List, 
  permite crear y editar. Buscar en Src\App\account -->
  <div>
    <app-account></app-account>
  </div>
  <br>
  <!-- <div>
    <ba-account-form></ba-account-form>
  </div>
  <br>
  <div>
    <ba-account-list label=""></ba-account-list>
  </div>
  <br> -->

  <!-- App-Contact engloba Contact-Form y Contact-List, 
  permite crear y editar. Buscar en Src\App\contact -->
  <div>
    <app-contact></app-contact>
  </div>
  <br>
 <!--  <div>
    <ba-contact-form></ba-contact-form>
  </div>
  <br>
  <div>
    <ba-contact-list label=""></ba-contact-list>
  </div>
  <br> -->

  <!-- <div>
    <ba-case-list label="Lista de Casos"></ba-case-list>
  </div> -->
  <div>
    <app-case></app-case>
  </div>
  <br>
  <div>
    <ba-case-form></ba-case-form>
  </div>
  <!-- <div>
    <ba-case-update caseId="3165"></ba-case-update>
  </div> -->
  <br>

  <br><br><br><br>
  <hr> <!-- Solo separacion -->
  <hr> <!-- Solo separacion -->
  <hr> <!-- Solo separacion -->

<router-outlet></router-outlet>




<style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
  }
</style>